<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/clase1.css">
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="logo">
    <h2>lugar para poner barra de busqueda</h2>
    <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
    <ul>
        <li><a href="/Ofertas">Ofertas</a></li>
        <li><a href="/Tiendas">Tiendas Oficiales</a></li>
        <li><a href="/Vender">Vender</a></li>
        <li><a href="/Ayuda">Ayuda</a></li>
        <br>
        <li><a href="/crear">Creá tu Cuenta</a></li>
        <li><a href="/ingresar">Ingresá</a></li>
        <li><a href="/miscompras">Mis Compras</a></li>
    </ul>
    <img src="/images/img-home-banner.jpg" alt="banner">
    <h1>Basado en tu última visita</h1>
    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
    <p>$6770</p>
    <p>40%OFF</p>
    <h2>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h2>
    <img src="/images/img-macbook-pro-2019.jpg" alt="mac">
    <p>$230.000</p>
    <p>20%OFF</p>
    <H2>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</H2>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="cel">
    <p>$70.500</p>
    <p>15% OFF</p>
    <img src="/images/img-tv-samsung-smart.jpg" alt="tv">
    <p>$34.000</p>
    <p>5% OFF</p>
    <h2>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h2>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>ConMercadoLiebreCashtenéscuotassininteréscontarjetaoefectivoenpuntosdepago. ¡Y siempre es seguro!</p>
    <h3>Envío gratis desde los $ 2.500</h3>
    <p>Soloporestarregistrad@enMercadoLiebretenésenvíosgratisenmilesdeproductos. Es un beneficio de MercadoPuntos.</p>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿Notegusta?¡Devolvelo!EnMercadoLiebrenohaynadaquenopuedashacerporque estás siempre prtegid@.</p>
    <h4>Copyright © 1999-2019 MercadoLiebre S.R.L.</h4>
</body>
</html>